In [1]:
import pandas as pd
import numpy as np

Right now I'm focusing on the core of the homework so I won't spend much time on the documentation. I'll only explain a little, so that you guys can work on it. The output y for each row is rater1 and rater2, which we'll mean to get a single output, and the inputs is all the rest.

In [3]:
df = pd.read_csv ('CrowdstormingDataJuly1st.csv')
df.head ()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

We need to check if each row has both rater1 and rater2 'NaN' valued or both not. Luckily none do.

In [13]:
df [pd.isnull (df ['rater1']) != pd.isnull (df ['rater2'])].shape [0]

0

We can now split into train and test, and check the number of each.

In [29]:
df_train_raw = df [pd.notnull (df ['rater1'])]
df_test_raw = df [pd.isnull (df ['rater1'])]
df_train_raw.shape [0], df_test_raw.shape [0]

(124621, 21407)

Average the rater1 and rater2 values for train, as an output column named "skinColor"

In [32]:
raters = pd.DataFrame (df_train_raw [['rater1', 'rater2']].mean (axis=1))
raters.columns = ['skinColor']
df_train = pd.merge (raters, df_train_raw.drop (['rater1', 'rater2'], 1), right_index = True, left_index = True)
df_train.head ()

,skinColor,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,...,photoID,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,0.375,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,...,95212.jpg,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,0.750,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,...,1663.jpg,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
5,0.125,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,...,3868.jpg,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,0.125,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,...,47704.jpg,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,1.000,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,...,22356.jpg,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752

Just drop the rater1 and rater2 columns for test set

In [33]:
df_test = df_test_raw.drop (['rater1', 'rater2'], 1)
df_test.head ()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,photoID,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
33,steven-fletcher,Steven Fletcher,Sunderland AFC,England,26.03.1987,186.0,76.0,Center Forward,1,0,...,NaN,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
35,iheb-mbarki,Iheb Mbarki,Évian Thonon Gaillard,France,14.02.1992,185.0,70.0,Right Fullback,2,0,...,NaN,5,5,TUN,0.167132,19.0,0.027327,-0.789474,19.0,0.111757

This function is the first part of cross-validation : it basically cuts the train set into separate couples (train, test) given an input number which is the number of couples we want. The higher this number, the more couples we get, but each one will have smaller test and bigger train.

In [73]:
def create_cross_validation_set (df_train, split):
    
    if split <= 0:
        raise ValueError ("Input split number must be strictly positive")
    
    l = df_train.shape [0]
    perm = np.random.permutation (l)
    output_set = []
    
    for i in range (split):
        
        s = perm [int (i * (l / split)):int ((i + 1) * (l / split))]
        test = df_train.iloc [s]
        train = df_train.iloc [np.delete (perm, s)]
        output_set.append ((train, test))
        
    return output_set

In [74]:
cvs = create_cross_validation_set (df_train, 4)

And now another function to compute the rate of good predictions (using a certain threshold) :

In [88]:
def evaluate_ml_model (predictions, input_cross_validation_set, accept_prediction_threshold = 0.025):
    
    if len (predictions) != len (input_cross_validation_set):
        raise ValueError ("Prediction list length must be the same as the input CVS set")
    
    rates = []
    
    for i in range (len (predictions)):
        
        good_predictions = 0
        
        for j in range (len (predictions [i])):
            
            if abs (predictions [i][j] - input_cross_validation_set [i][1].iloc [j]['skinColor']) < accept_prediction_threshold:
                good_predictions += 1
                
        rates.append (good_predictions * 100 / len (predictions [i]))
        
    return np.mean (rates), rates

Just checking with a random generated prediction

In [94]:
random_predictions = []

for i in range (len (cvs)):
    
    random_predictions.append (np.random.uniform (0, 1, len (cvs [i][1])))
        
random_predictions

[array([ 0.11181762,  0.40701045,  0.15945412, ...,  0.38668335,
         0.53984263,  0.08653097]),
 array([ 0.32100757,  0.52418536,  0.69353227, ...,  0.91858196,
         0.78729976,  0.64253677]),
 array([ 0.27301765,  0.38607646,  0.56204623, ...,  0.52742672,
         0.20034082,  0.99183757]),
 array([ 0.05868818,  0.96510956,  0.90091113, ...,  0.51348774,
         0.0806832 ,  0.85957303])]

In [95]:
evaluate_ml_model (random_predictions, cvs)

(4.1509845598870667,
 [4.246509388541165,
  3.9383726528647087,
  4.114909324346012,
  4.3041468737963795])

And with 100% precision

In [92]:
accurate_predictions = []

for i in range (len (cvs)):
    
    accurate_predictions.append (cvs [i][1]['skinColor'].values)
    
accurate_predictions

[array([ 0.25 ,  0.375,  0.25 , ...,  0.5  ,  0.   ,  0.75 ]),
 array([ 0.875,  0.   ,  0.125, ...,  0.25 ,  0.375,  0.25 ]),
 array([ 0.   ,  0.5  ,  1.   , ...,  0.25 ,  0.875,  0.25 ]),
 array([ 0.  ,  0.  ,  0.75, ...,  0.  ,  1.  ,  0.  ])]

In [93]:
evaluate_ml_model (accurate_predictions, cvs)

(100.0, [100.0, 100.0, 100.0, 100.0])

## Ideas for data cleaning

 - As it worked in ML project 1 : replace all NaN values with the mean
 - Remove values that actually have nothing to do with skin color, e.g. playerShort, birthday, photoID
 - Translate every non-number label into an integer for categorizing